/* Reset all elements margin*/
* {
    margin: 0;
    padding: 0;
}
/* CSS Variables:*/
:root {
    --strong-color: rgb(255, 183, 0); 
    --font-type: 'Merriweather';
    --line-color: #d52121;
}
/* styles for the body of the web */
body {
    background: rgb(25,6,81);
    background: linear-gradient(221deg, rgba(25,6,81,1) 11%, rgba(9,9,121,1) 50%, rgba(82,82,82,1) 91%);
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 120px 120px 1fr 300px;
    grid-template-areas:
        "header header"
        "navigation navigation"
        "content-main content-main"
        "footer footer";
}

/* Styles for the header */
header {

    grid-area: header;
    height: 350px;
    display: grid;
    grid-template-columns: 5% 50% 45%;
    grid-template-areas: "logo main-title top-nav";
    border-bottom: 1px  solid var(--strong-color);
    box-shadow:15px 15px 4px rgba(0, 0, 0, 0.25);
}

/* Styles for the logo */
.logo img {
    grid-area: logo;
    width: 70px;
    height: 81px;
    color: rgb(255, 183, 0);
    margin: 30px;
}

/* Styles for the main title */
.page-title {
    grid-area: main-title;
    width: 820px;
    height: 210px;
    color: #FFF;
    text-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 100px;
    margin-left: 5px;
    text-transform: uppercase;
    text-align: left;
}

/* Styles for spans */
span {
    color:  rgb(255, 183, 0);
}


/* Styles for the top navigation menu */
.top-menu {
    margin: 20px;
}

/* Styles for list items in the top menu */
.top-menu li {
    color: white;
    margin: 5px;
    padding: 5px;
    margin-left: 80px;
    text-align: right;
    font-family: var(--font-type);
    font-size: medium;
    font-weight: bold;
    display: inline-block;
}

/* Styles for links in the top menu */
.top-menu a {
    color: #000000;
    background:rgb(255, 183, 0);
    border: 1px solid var(--strong-color);
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
    margin-bottom: 10px;
}

/* Styles for links in the top menu on hover */
.top-menu a:hover {
    font-family: var(--font-type);
    color: #d6e6f2;
    background-color: var(--strong-color);
    letter-spacing: 3px;
    box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.57);
    border-style: solid;
    opacity: 0.7;
}

/* Styles for the menu icon */
#menu-icon {
    color: #FFF;
    font-size: 70px;
    cursor: pointer;
    width: 80px;
    margin-left: auto;
    display: none;
}

/* Styles for the bottom navigation menu */
.bottom-menu {
    grid-area: navigation;
    width: 930px;
    height: 157px;
    margin-left: 450px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 1;

}

/* Styles for images in the bottom menu */
.bottom-menu img {
    margin-left: 0;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 5px 0px;
    border: 1px solid rgb(255, 183, 0);
    font-size: 28px;
    border-radius: 10px;
    opacity: 1;
    background-color: rgba(9,9,121,1);
    
}

/* Styles for images in the bottom menu on hover */
.bottom-menu img:hover {
    color: rgb(255, 183, 0);
    letter-spacing: 3px;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    border: 1px solid var(--line-color);
    opacity: 0.7;
}

/* Styles for content in the main Element*/
.content {
    grid-area: content-main;
    height: 900px;
    margin-top: 250px;
    display: flex;
    justify-content: center;
}

/* Main Images: SANGUINEA IMAGE */
main img {
    margin-left: 80px;
    margin-top: 50px;
    width: 800px;

}

/* Content Headers:  titles for Image and the aside Article*/
.content h2 {
    color:#d6e6f2;
    font-family: 'Lato' ;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 80px;
}

/* Content Spans: color to the span*/
.content span {
    color: rgb(255, 183, 0);
    font-weight: bolder;
}

/* Styling aside paragraphs  */
aside p {
    font-family: var(--font-type);
    font-weight: 500;
    color:#d6e6f2;
    margin-left: 80px;
    margin-top: 50px;
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 10px;
    border: 1px solid  var(--strong-color);
    padding: 15px;
}

/* Source Links:  Wikipedia link */
.source-link  a {
    margin-left: 80px;
    color: var(--strong-color);
    font-size: larger;
    font-family: var(--font-type);

}
/* hover Style for Wikipedia link */ 
.source-link a:hover {
    color: var(--strong-color);
    text-decoration: none;
}

/* Styling the footer */
footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px  solid var(--strong-color);
    border-top: 1px solid var(--strong-color);
    box-shadow:0px 0px 30px 30px rgba(0, 0, 0, 0.25);

}

/* Styling the footer title */
.footer-title {
    width: 355px;
    height: 100px;
    color:#d6e6f2;
    text-shadow: 15px 15px 4px rgba(0, 0, 0, 0.10);
    font-family: 'Merriweather', serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 120px;
    margin-top: 22px;
}

/* Styling the footer  email */
.footer-email  {
    color: rgb(255, 183, 0);
    align-items: center;
    margin-bottom: 230px;
    margin-top: 250px;
    margin-right: 18%;
    font-family: var(--font-type);
    font-size: 15px;
    font-weight: 600;
    justify-content: center;

}

.footer-email a {
    color: var(--strong-color);
}

/* Footer Logos List */

.footer-logos  ul {
    display: flex;
    list-style: none;
    margin-right:100px;
}

.footer-logos li {
    margin-right: 30px;
    margin-top: 100px;
}

.footer-logos img {
    width: 30px;
    height: 30px;
}


/* Media query for screens with a maximum width of 950px */
@media screen and (max-width: 950px) {
    .page-title {
        font-size: 17px;
        width: 200px;
        height: 100px;
        margin-bottom: 60px;
        padding-top: 20px;
    }
.logo {
    width: 10px;
    height: 10px;
    color: rgb(255, 183, 0);
    margin-bottom: 10px;
}

    header {
        height: 300px;
    }
}

/* Media query for 1200px */
@media screen and (max-width: 1200px) {

    #menu-icon {
        display: block;
    }

    #menu-icon:before {
        line-height: 40px;
    }

    #menu-icon.active:before {
        content: 'X';
    }

    /* Hide the top menu initially */
    .top-menu {
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        opacity: 0; 
        transition: opacity 0.3s ease;
    }

    .top-menu.active {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1; 
        position: relative;
    }

    .top-menu.active nav ul {
        list-style: none; 
        padding: 10px;
        margin: 10px;
        border-radius: 10px; 
    }

    .top-menu.active nav ul li {
        margin: 5px ; 
    }

    .bottom-menu {
        width: auto;
        height: auto;
        margin-left: 150px;
        margin-top: 180px;
        grid-gap: 3px;
    }
    
    .bottom-menu img {
        width: 70px;
        height: 70px;
    }

        .content {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
    }
    aside p {
        margin-left: 10px;

    }

    .source-link {
    margin-left: 20px;
    color: var(--strong-color);
    font-size: 15px;
    font-family: var(--font-type);

}

    /* Footer adjustments */
    footer {
        flex-direction: column;
        align-items: center; 
    }

    .footer-title {
        margin: 10px; 
        text-align: center; 
    }

    .footer-email {
        margin: 10px;
    }

    .footer-logos ul {
        margin-top: 0;
        margin-right: 10px;
    }

    .footer-logos li {
    margin-right: 20px;
    padding: 5px;
    }
        .child-content1 iframe{
    display:flex;
    justify-content:space-around;
    color:#fff;
    margin: 0;
    width: 500px;
    opacity: 0.7;
}

}

/* Media query for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {

    main {
        padding: 0;
        align-items: center;
        margin-top: 0; 
    }

    main img {
        margin-left: 30px;
        max-width: 360px;
    }

    .content h2 {
        font-size: 20px;
        margin-left: 15px;
    }
}


/* Style for the Main Contact */
.contact {
    grid-area: content-main;
    height: 700px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

/* Parent container styling for the contact section */

.contact-parent{
    background: rgb(113,113,113);
    background: radial-gradient(circle, rgba(113,113,113,1) 0%, rgba(9,9,121,1) 71%);
    display:flex;
    flex: 1;
    justify-content: center;
    margin:100px;
    box-shadow:15px 15px 4px rgba(0, 0, 0, 0.25);
    border: 0.5px solid var(--strong-color);
}
/* Styling for child containers within the contact section */
.contact-child{
    display:flex;
    flex: 1;
    box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75);
}

/* Styling the first child */ 
.child1{
    background-image:url("../images/contact.webp");
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    color:#fff;
    padding:100px 0;
}

/* Styling all h4 ( headers) on first child */
.child1 h4{
    padding-left:20%;
    font-size:20px;
    text-shadow:0px 0px 2px #000;
    font-family: var(--font-type);
}
/* span styling inside the first child */

.child1 h4 span{
    font-size:16px;
    color: var(--strong-color);
    font-family: var(--font-type);
}
/* Second child for the form */

.child2{
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
/* Styling the inside contents of the form */
.inside-contact{
    width:90%;
    margin:0 auto;
}

/* styling the headers of the Form */
.inside-contact h2{
    text-transform:uppercase;
    text-align:center;
    margin-top:50px;
    color: var(--strong-color);
}
/* Styling labels */

.inside-contact label{
    text-transform:uppercase;
    color: var(--strong-color);
    font-family: var(--font-type);
}


.inside-contact h3{
    text-align:center;
    font-size:16px;
}
/* styling for input fields and textarea ( messages)*/
.inside-contact input, .inside-contact textarea{
    width: 100%;
    font-family: var(--font-type);
    background-color:antiquewhite;
    border: 1.5px solid black;
    padding-top: 5px ;
    padding-right: 20px;
    margin-bottom:20px;
    align-items: center;
    color: #000;
}
/* submit button styling */
.inside-contact input[type=submit]{
    background-color:var(--strong-color);
    color: black;
    transition:0.2s;
    border:2px solid #000;
    margin:30px 0;
    font-size: 20px;
}

.inside-contact input[type=submit]:hover{
    background-color:crimson;
    color: black;
    transition:0.2s;
}

/* Contact Responsive for 900px*/
@media screen and (max-width:900px){
    .contact-parent{
        display:block;
        width: 100%;
    }

    .child1{
        display:none;
    }

    .child2{
        background-image: radial-gradient(circle, rgba(113,113,113,1) 0%, rgba(9,9,121,1) 71%);
        background-size:cover;
    }

    .inside-contact input, .inside-contact textarea{
    width: 90%;
    padding: 0px;
    }
    .inside-contact {
        height: 100px;
        padding: 0px;
    }
    .value {
        height: 30px;
        margin: 0;
    }
}

/* Style for the Main Contact */
.content {
    grid-area: content-main;
    height: 700px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.content-parent{
    display:flex;
    flex: 1;
    justify-content: center;
    margin: 80px;
    border: 1px solid var(--strong-color);
    box-shadow:15px 15px 4px rgba(0, 0, 0, 0.25);

}

.content-child {
    display:flex;
    flex: 1;


}

.child1 {
    background-image: url(../images/messe-basel.webp);
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    color:#fff;
    padding:100px 0;
}

.child1 h4{
    padding-left:20%;
    font-size:20px;
    text-shadow:0px 0px 2px #000;
    font-family: var(--font-type);
}

.child1 h4 span{
    font-size:16px;
    color: var(--strong-color);
    font-family: var(--font-type);
}

.table-content {
    width:90%;
    margin:0 auto;
    overflow-x:auto
}

.table-content table {
    font-family: var(--font-type);
    font-weight: 100;
    color:#d6e6f2;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

td, th {
    border: 1px solid var(--strong-color);
    text-align: center;
    padding: 8px;
}

.links  a {
    color: var(--strong-color);
    font-family: var(--font-type);

}

.links a:hover {
    color: var(--strong-color);
    text-decoration: none;
}

@media screen and (max-width:900px){
    .content-parent{
        display:block;
        margin: 15px;
        font-size: 11px;  
    }

    .table-content table {
        font-weight: 900;
    }

    .child1
    {
        display: none;

    }
}

/* Main styling for the Impressum section */

#impressum {
    grid-area: content-main;
    height: 800px;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: lato;
    font-weight: bold;

}
/* Styling for the main Impressum header */
#impressum h1 {
    margin: 10px;
    font-family: var(--font-type);
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(255, 183, 0);

}

/* Styling for the Impressum info  */
.impressum-info {
    background: rgb(25,6,81);
    background: linear-gradient(221deg, rgba(25,6,81,1) 11%, rgba(9,9,121,1) 50%, rgba(82,82,82,1) 91%);
    display: block;
    margin:100px;
    box-shadow:15px 15px 4px rgba(0, 0, 0, 0.25);
    border: 0.5px solid var(--strong-color);
}
/* Styling for child content of impressum */
.impressum-child {
    margin-left: 10px;
    padding-left: 10px;
}

.child-impressum1 h2 {
    padding: 10px;
    margin-left: 25px;
    font-family: var(--font-type);
}

.child-impressum1 h3 {
    margin-left: 50px;
    font-family: var(--font-type);
    color: var(--strong-color);
}

/* Styling for paragraphs inside the Impressum info */
.impressum-info p {
    margin: 5px;
    padding: 5px;
    margin-left: 75px;
    font-family: "lato", sans-serif;
}

/* Media for Impressum contents */

@media screen and (max-width:1200px){
    .impressum-info{
        display:block;
        margin: 15px;
        font-size: 11px;
        
    }

    .impressum-info p {
        font-weight: 900;
    }
    .child-impressum1
    {
        margin: 0;
        padding: 0;
    }

}

.wrapper {
    grid-area: content-main;
    height: 800px;
    margin-top: 250px;
    display: flex;
    justify-content: center;

}

.wrapper-content {
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
    display: block;
    margin:100px;
    box-shadow:15px 15px 4px rgba(0, 0, 0, 0.25);
    border: 0.5px solid var(--strong-color);

}

.img-content img {
    width: 600px;
    height: 600px;

}

@media screen and (max-width:900px){

    .wrapper-content {
        display:block;
        width: 100%;
        height: fit-content;
        margin: 15px;
        margin-top: 0;
    }


    .img-content img {
    width: 100%;
    height: auto;


}

.wrapper {
    grid-area: content-main;
    height: 600px;
    margin-top: 250px;
    display: flex;
    justify-content: center;

}
}

/* Style for the Main Contact */
.content-about {
    grid-area: content-main;
    height: 700px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
/* Style for the content Parent */
.content-parent {
    display:flex;
    flex: 1;
    justify-content: center;
    margin: 80px;
    border: 1px solid var(--strong-color);
    box-shadow:15px 15px 4px rgba(0, 0, 0, 0.25);

}
/* content child Style */
.content-child{
    display:flex;
    flex: 1;

}

/* Iframe Style */
.child-content1 iframe {
    display:flex;
    justify-content:space-around;
    color:#fff;
    margin: 0;
    width: 900px;
    opacity: 0.7;
}
/* main text Styling */
.text-contents {
    width:90%;
    margin:0 auto;
}
/* Header Paragraph Styling */
.text-contents h2 {
    width: 300px;
    color:#d6e6f2;
    text-shadow: 15px 15px 4px rgba(0, 0, 0, 0.10);
    font-family: 'Merriweather';
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 12px;
    margin-top: 20px;
    padding: 20px;
}
/* paragraph Styling */
.text-contents p {
    font-family: var(--font-type);
    font-weight: 100;
    color:#d6e6f2;
    line-height: 1.6;
    font-size: 17px;
}

#contact-link span
{
    color: #000000;
    border: 1px solid black;
    background-color: var(--strong-color);
    border-radius: 5px;
    font-size: 18px;
    padding: 2px;
    
}

/* Media for main Content */

@media screen and (max-width:900px){
    .content-parent{
        display:block;
        width: 100%;
    }

    .child-content1{
        display:none;
    }

}





