* {
    margin: 0;
    padding: 0;
}

:root {
    --strong-color: rgb(255, 183, 0); 
    --font-type: 'Merriweather';
}
/* styles for the body of the web */
body {
    background: rgb(25,6,81);
    background: linear-gradient(221deg, rgba(25,6,81,1) 11%, rgba(9,9,121,1) 50%, rgba(82,82,82,1) 91%);
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 120px 120px 1fr 300px;
    grid-template-areas:
        "header header"
        "navigation navigation"
        "content-main content-main"
        "footer footer";
}

/* Styles for the header */
header {

    grid-area: header;
    height: 350px;
    display: grid;
    grid-template-columns: 5% 50% 45%;
    grid-template-areas: "logo main-title top-nav";
    border-bottom: 1px  solid var(--strong-color);
    border-top: 1px solid var(--strong-color);
    box-shadow:15px 15px 4px rgba(0, 0, 0, 0.25);
}

/* Styles for the logo */
.logo {
    grid-area: logo;
    width: 70px;
    height: 81px;
    color: rgb(255, 183, 0);
    margin: 30px;
}

/* Styles for the main title */
.page-title {
    grid-area: main-title;
    width: 810px;
    height: 210px;
    color: #FFF;
    text-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Merriweather', serif;
    font-size: 35px;
    font-weight: 500;
    margin-top: 100px;
    margin-left: 5px;
    text-transform: uppercase;
    text-align: left;
}

/* Styles for spans */
span {
    color:  rgb(255, 183, 0);
}


/* Styles for the top navigation menu */
.top-menu {
    margin: 20px;
}

/* Styles for list items in the top menu */
.top-menu li {
    color: white;
    margin: 5px;
    padding: 5px;
    margin-left: 80px;
    text-align: right;
    font-family: var(--font-type);
    font-size: medium;
    font-weight: bold;
    display: inline-block;
}

/* Styles for links in the top menu */
.top-menu a {
    color: #000000;
    background:rgb(255, 183, 0);
    border: 1px solid var(--strong-color);
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
    margin-bottom: 10px;
}

/* Styles for links in the top menu on hover */

.top-menu a:hover {
    font-family: var(--font-type);
    color: #d6e6f2;
    background-color: crimson;
    letter-spacing: 3px;
    box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.57);
    border-style: solid;
    opacity: 0.7;
}

/* Styles for the menu icon */
#menu-icon {
    color: #FFF;
    font-size: 70px;
    cursor: pointer;
    width: 80px;
    margin-left: auto;
    display: none;
}

/* Styles for the bottom navigation menu */
.bottom-menu {
    grid-area: navigation;
    width: 930px;
    height: 157px;
    margin-left: 500px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* Styles for images in the bottom menu */
.bottom-menu img {
    margin-left: 0;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 5px 0px;
    border: 1px solid rgb(255, 183, 0);
    font-size: 28px;
    border-radius: 10px;
    opacity: 1;
    background-color: rgba(9,9,121,1);
}

/* Styles for images in the bottom menu on hover */
.bottom-menu img:hover {
    color: rgb(255, 183, 0);
    letter-spacing: 3px;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    border: 1px solid rgb(255, 0, 0);
    opacity: 0.7;
}

.wrapper {
    grid-area: content-main;
    height: 800px;
    margin-top: 250px;
    display: flex;
    justify-content: center;

}

.wrapper-content {
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
    display: block;
    margin:100px;
    box-shadow:15px 15px 4px rgba(0, 0, 0, 0.25);
    border: 0.5px solid var(--strong-color);

}

.img-content img {
    width: 600px;
    height: 600px;

}


footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px  solid var(--strong-color);
    border-top: 1px solid var(--strong-color);
    box-shadow:0px 0px 30px  30px rgba(0, 0, 0, 0.25);

}

.footer-title {
    width: 355px;
    height: 100px;
    color:#d6e6f2;
    text-shadow: 15px 15px 4px rgba(0, 0, 0, 0.10);
    font-family: 'Merriweather', serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 120px;
    margin-top: 22px;
}

/* Styling the footer  email */
.footer-email  {
    color: rgb(255, 183, 0);
    align-items: center;
    margin-bottom: 230px;
    margin-top: 250px;
    margin-right: 18%;
    font-family: var(--font-type);
    font-size: 15px;
    font-weight: 600;
    justify-content: center;

}

.footer-email a {
    color: var(--strong-color);
}


.footer-logos  ul {
    display: flex;
    list-style: none;
    margin-right:100px;
}

.footer-logos li {
    margin-right: 30px;
    margin-top: 100px;
}

.footer-logos img {
    width: 30px;
    height: 30px;
}


/* Media query for screens with a maximum width of 950px */
@media screen and (max-width: 950px) {
    .page-title {
        font-size: 17px;
        width: 200px;
        height: 100px;
        margin-bottom: 60px;
        padding-top: 20px;
    }
.logo {
    width: 10px;
    height: 10px;
    color: rgb(255, 183, 0);
    margin-bottom: 10px;
}

    header {
        height: 300px;
    }
}

/* Media query for 1200px */
@media screen and (max-width: 1200px) {

    #menu-icon {
        display: block;
    }

    #menu-icon:before {
        line-height: 40px;
    }

    #menu-icon.active:before {
        content: 'X';
    }

    /* Hide the top menu initially */
    .top-menu {
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background overlay */
        border-radius: 10px;
        opacity: 0; /* Start with zero opacity */
        transition: opacity 0.3s ease; /* Smooth transition for opacity */
    }

    .top-menu.active {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1; /* Fully visible when active */
        position: relative;
    }

    .top-menu.active nav ul {
        list-style: none; /* Remove default list styles */
        padding: 10px;
        margin: 10px;
        border-radius: 10px; /* Rounded corners */
    }

    .top-menu.active nav ul li {
        margin: 5px ; /* Adjust spacing between menu items */
    }

    .bottom-menu {
        width: auto;
        height: auto;
        margin-left: 150px;
        margin-top: 180px;
        grid-gap: 3px;
    }
    
    .bottom-menu img {
        width: 70px;
        height: 70px;
    }

    footer {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .footer-title {
        margin: 10px; /* Adjust margin */
        text-align: center; /* Center text */
    }

    .footer-email {
        margin: 10px;/* Adjust margin */
    }

    .footer-logos ul {
        margin-top: 0;/* Adjust margin */
        margin-right: 10px;
    }

    .footer-logos li {
    margin-right: 20px;
        padding: 5px;
    }
}

@media screen and (max-width:900px){

    .wrapper-content {
        display:block;
        width: 100%;
        height: fit-content;
        margin: 15px;
        margin-top: 0;
    }


    .img-content img {
    width: 100%;
    height: auto;


}

.wrapper {
    grid-area: content-main;
    height: 600px;
    margin-top: 250px;
    display: flex;
    justify-content: center;

}
}